/* ===============================================*/
/* Styles for Sections */
.section {
  border: 2px solid lightblue;
  border-radius: 20px;
  align-items: flex-start;
  justify-content: center;
  width: 800px;
  margin: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.one_column {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 720px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.two_columns {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 250px 400px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.three_columns {
  padding: 10px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: 240px 220px 260px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.four_columns {
  line-height: 3.8;
  display: grid;
  grid-template-columns: 140px 380px 140px 60px;
  align-items: center;
  text-align: left;
  justify-content: center;
}
/* ===============================================*/
/* Styles for Elements */
.button {
  margin: 10px 0;
  display: inline-block;
  padding: 10px 20px;
  color: #2196f3;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #2196f3;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #2196f3;
  color: #fff;
}

.input {
  border-radius: 10px;
  outline: 2px solid #febf00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}
